.nav-bar {
    /* padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; */
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 15px;
    /* background-color: #ffe9ec; */
    background: transparent;
}

.nav-active {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 15px;
    background: #E4B2B1;
}

.nav-name {
    color: white;
    font-size: 20px;
    line-height: 40px;
    padding-left: 22px;
}

.navbar-links  {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1rem;
    color: #656565;
    list-style-type: none
    
}

.navbar-links li a{
    font-size: 20px;
    padding-right: 22px;
    padding-left: 22px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.nav-tabs li > a:hover {
    background: transparent;
    color: #865151
}
/* 
.nav-tabs li > a:hover,
.nav-tabs li > a:focus {
    background-color: transparent;
} */


.nav-tabs li > a:active {
    background: transparent;
    color: #353535
}


