.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 15px;
    background: transparent;
}

.nav-active {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 15px;
    background: #E4B2B1;
}

.nav-brand {
    color: white;
    font-size: 20px;
    line-height: 40px;
    padding-left: 22px;
}

.nav-links  {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1rem;
    color: #656565;
    list-style-type: none 
}

.navbar-collapse {
    flex-grow: 0
}

.nav-links li a{
    font-size: 20px;
    padding-right: 22px;
    padding-left: 22px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.nav-tabs li > a:hover {
    background: transparent;
    color: #865151
}

.nav-tabs li > a:active {
    background: transparent;
    color: #353535
}
