.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 15px;
    padding-bottom: 15px;
    background: transparent;
}

.nav-active {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 15px;
    background: #E4B2B1;
}

.nav-brand {
    color: white;
    font-size: 20px;
    line-height: 40px;
    padding-left: 22px;
}
